{% extends "base.html" %}
{% block content %}
<div class="container">

    <h3>Developer Dashboard</h3>

    <br>

    <div class="container m-0 p-0">
        <div class="row m-0 p-0">
            <!-- Navigation Sidebar -->
            <div class="col-2 m-0 p-0">
                <div class="list-group">
                    <a href="{{ url_for('show_index') }}" class="list-group-item list-group-item-action">
                        Documentation
                    </a>
                    <a href="{{ url_for('register') }}" class="list-group-item list-group-item-action text-light bg-secondary">
                        Register New App
                    </a>
                    <a href="{{ url_for('view_apps') }}" class="list-group-item list-group-item-action">
                        My Apps
                    </a>
                </div>
            </div>

            <!-- Register New App Content -->
            <div class="col-10 m-0 pl-4 p-0">
                <div class="container rounded m-0 pl-2 pr-2 pb-2">
                    <h3>Register New App</h3>

                    <br>

                    <form class="needs-validation" action="" method="post" enctype="multipart/form-data" novalidate>
                        <!-- App Name -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">App Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="app_name" required>
                                <div class="invalid-feedback">
                                    C'mon, every app deserves a name!
                                </div>
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="description" rows="3" required></textarea>
                                <div class="invalid-feedback">
                                    Tell us the amazing things your app does!
                                </div>
                            </div>
                        </div>

                        <!-- Data Format -->
                        <div class="form-group row">
                            <div class="col-sm-2">Data Format</div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="data-radios" value="download_data" onclick="streamingDisable()" checked>
                                    <label class="form-check-label">Download</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="data-radios" value="stream_data" onclick="streamingEnable()">
                                    <label class="form-check-label">Streaming</label>
                                </div>
                            </div>
                        </div>

                        <!-- Streaming Endpoint -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Endpoint</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="stream_endpoint" id="streaming_url_input" disabled>
                                <small class="form-text text-muted">
                                    <p>Endpoint must be formatted as &lt;IPv4 address or hostname&gt;:&lt;Port&gt;</p>
                                    <p>Data will only be sent to the provided endpoint if <b>Streaming</b> is selected.</p>
                                </small>
                            </div>
                        </div>

                        <!-- Permissions -->
                        <div class="form-group row">
                            <div class="col-sm-2">Permissions</div>
                            <div class="col-sm-10">
                                {% for p in permissions %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="{{ p }}">
                                    <label class="form-check-label">{{ p.replace('_', ' ') }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group row">
                            <!-- Space -->
                            <div class="col-sm-2"></div>

                            <!-- Register button -->
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary" name="register">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
// Example starter JavaScript for disabling form submissions if there are invalid fields
// Obtained from https://getbootstrap.com/docs/4.0/components/forms/#validation
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

// Disable or enable textbox for Streaming Endpoint depending on the status of the Download/Streaming radio buttons
function streamingEnable() {
    document.getElementById("streaming_url_input").disabled = false;
}

function streamingDisable() {
    document.getElementById("streaming_url_input").disabled = true;
    document.getElementById("streaming_url_input").value = '';
}
</script>

{% endblock %}
